{
  "LOCAL": {
    "connect": "schmitz_portfolio_wordpress",
    "root_directory": "/var/www",
    "url": "http://localhost:9000"
  },
  "QA": {
    "connect": "pcrw@indium.server.paradowski.com",
    "root_directory": "/var/www/domains/parado.cz/schmitz_portfolio",
    "asset_path": "htdocs/app/themes/schmitz_portfolio/assets",
    "url": "https://schmitz_portfolio.parado.cz",
    "db_name": "schmitz_portfolio_db"
  },
  "PROD": {
    "connect": "pcrw@tin.server.paradowski.com",
    "root_directory": "/var/www/domains/schmitz_portfolio",
    "asset_path": "htdocs/app/themes/schmitz_portfolio/assets",
    "url": "http://unitedinsustainability.farm",
    "db_name": "schmitz_portfolio_db"
  }
}
