/* Color Options
--------------------------------------------- */
.has-blue-color {
  color: #002664; }

.has-blue-background-color {
  background-color: #002664; }

.has-blue-background-color:hover {
  background-color: #001332; }

.has-teal-color {
  color: #90d1e3; }

.has-teal-background-color {
  background-color: #90d1e3; }

.has-teal-background-color:hover {
  background-color: #257c94; }

.has-orange-color {
  color: #ff6700; }

.has-orange-background-color {
  background-color: #ff6700; }

.has-orange-background-color:hover {
  background-color: #803400; }

.has-grey-color {
  color: #5e6a71; }

.has-grey-background-color {
  background-color: #5e6a71; }

.has-grey-background-color:hover {
  background-color: #2f3539; }

.has-white-color {
  color: #fff; }

.has-white-background-color {
  background-color: #fff; }

.has-white-background-color:hover {
  background-color: gray; }

.has-black-color {
  color: #000; }

.has-black-background-color {
  background-color: #000; }

.has-black-background-color:hover {
  background-color: black; }

/**
 * Placeholder Color
 *
 */
/**
 * Font Sizes
 *
**/
/**
 * Columns
 *
 */
/**
 * Columns, Mobile
 *
 */
/**
 * Columns, Tablet
 *
 */
/**
 * Columns, Tablet Up
 *
 */
/**
 * Columns, Desktop
 *
 */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

/* Blocks
---------------------------------------------------------------------------------------------------- */
/* General
--------------------------------------------- */
.entry > * > *:first-child,
.entry-comments > *:first-child,
.comment-respond > *:first-child,
.archive .site-main > *:first-child {
  margin-top: 0; }

@media (min-width: 768px) {
  .entry > *,
  .entry-comments,
  .comment-respond,
  .archive .site-main {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto; } }

.entry-content > *.alignleft {
  /*rtl:ignore*/
  float: left;
  margin: 0 25px 25px 0; }

.entry-content > *.alignright {
  /*rtl:ignore*/
  float: right;
  margin: 0 0 25px 25px; }

.entry-content > *.aligncenter {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .entry-content > *.aligncenter {
      margin-left: 0;
      margin-right: 0; } }

.entry-content {
  padding: 0px 25px; }
  .entry-content ul,
  .entry-content ol {
    padding-left: 1rem; }
    .entry-content ul li,
    .entry-content ol li {
      padding-bottom: 0.5rem; }
      .entry-content ul li:last-child,
      .entry-content ol li:last-child {
        padding-bottom: 0; }
      .entry-content ul li ul,
      .entry-content ul li ol,
      .entry-content ol li ul,
      .entry-content ol li ol {
        padding-top: 0.5rem; }

.wp-block-button__link {
  border: 2px solid brand-color("blue", "darken");
  border-radius: 3px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  padding: 16px 32px;
  text-decoration: none; }
  .is-style-full .wp-block-button__link, .wp-block-button__link.full {
    display: block;
    width: 100%; }
  .wp-block-button__link:not(.has-text-color) {
    color: white; }
    .wp-block-button__link:not(.has-text-color):hover {
      color: white; }
  .wp-block-button__link:not(.has-background) {
    background-color: brand-color("blue"); }
    .wp-block-button__link:not(.has-background):hover, .wp-block-button__link:not(.has-background):focus {
      background-color: brand-color("blue", "darken"); }
  .wp-block-button__link.has-blue-color:hover, .wp-block-button__link.has-blue-color:focus {
    color: #002664; }
  .wp-block-button__link.has-blue-background-color:hover, .wp-block-button__link.has-blue-background-color:focus {
    background-color: brand-color("blue", "darken"); }
  .wp-block-button__link.has-teal-color:hover, .wp-block-button__link.has-teal-color:focus {
    color: #90d1e3; }
  .wp-block-button__link.has-teal-background-color:hover, .wp-block-button__link.has-teal-background-color:focus {
    background-color: brand-color("teal", "darken"); }
  .wp-block-button__link.has-orange-color:hover, .wp-block-button__link.has-orange-color:focus {
    color: #ff6700; }
  .wp-block-button__link.has-orange-background-color:hover, .wp-block-button__link.has-orange-background-color:focus {
    background-color: brand-color("orange", "darken"); }
  .wp-block-button__link.has-grey-color:hover, .wp-block-button__link.has-grey-color:focus {
    color: #5e6a71; }
  .wp-block-button__link.has-grey-background-color:hover, .wp-block-button__link.has-grey-background-color:focus {
    background-color: brand-color("grey", "darken"); }
  .wp-block-button__link.has-white-color:hover, .wp-block-button__link.has-white-color:focus {
    color: #fff; }
  .wp-block-button__link.has-white-background-color:hover, .wp-block-button__link.has-white-background-color:focus {
    background-color: brand-color("white", "darken"); }
  .wp-block-button__link.has-black-color:hover, .wp-block-button__link.has-black-color:focus {
    color: #000; }
  .wp-block-button__link.has-black-background-color:hover, .wp-block-button__link.has-black-background-color:focus {
    background-color: brand-color("black", "darken"); }

/* Blockquote
--------------------------------------------- */
blockquote,
blockquote.wp-block-quote {
  background: transparent;
  text-align: left; }
  blockquote p,
  blockquote.wp-block-quote p {
    color: #ff6700;
    font-size: 24px;
    font-style: normal;
    font-weight: 400; }
  blockquote cite,
  blockquote .wp-block-quote__citation,
  blockquote.wp-block-quote cite,
  blockquote.wp-block-quote .wp-block-quote__citation {
    color: #ff6700;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
    text-transform: uppercase; }
  blockquote p:last-of-type,
  blockquote.wp-block-quote p:last-of-type {
    margin-bottom: 0; }
  blockquote.is-large, blockquote.is-style-large,
  blockquote.wp-block-quote.is-large,
  blockquote.wp-block-quote.is-style-large {
    margin: calc(2 * $default-padding) auto; }
    blockquote.is-large p, blockquote.is-style-large p,
    blockquote.wp-block-quote.is-large p,
    blockquote.wp-block-quote.is-style-large p {
      font-size: 24px;
      font-size: 1.5rem; }
      @media (min-width: 768px) {
        blockquote.is-large p, blockquote.is-style-large p,
        blockquote.wp-block-quote.is-large p,
        blockquote.wp-block-quote.is-style-large p {
          font-size: 36px;
          font-size: 2.25rem; } }
    blockquote.is-large cite, blockquote.is-style-large cite,
    blockquote.wp-block-quote.is-large cite,
    blockquote.wp-block-quote.is-style-large cite {
      text-align: left; }

/* Pull Quote
--------------------------------------------- */
.wp-block-pullquote {
  border: none;
  padding: 0; }
  .wp-block-pullquote blockquote {
    border-left: 0;
    border-top: 8px solid #ff6700;
    border-bottom: 8px solid #ff6700;
    padding: 16px 0;
    text-align: center;
    max-width: 50%;
    margin: 0 auto; }
  .wp-block-pullquote.alignleft blockquote, .wp-block-pullquote.alignright blockquote {
    max-width: 100%; }

/* Separator
--------------------------------------------- */
.wp-block-separator:not(.is-style-dots),
hr:not(.is-style-dots) {
  background-color: #5e6a71;
  border: 0;
  height: 1px; }

.wp-block-separator:not(.is-style-wide):not(.is-style-dots),
hr:not(.is-style-wide):not(.is-style-dots) {
  width: 100%;
  height: 4px;
  background: transparent; }
  .wp-block-separator:not(.is-style-wide):not(.is-style-dots)::before,
  hr:not(.is-style-wide):not(.is-style-dots)::before {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background: #ff6700; }

.wp-block-separator.is-style-dots:before,
hr.is-style-dots:before {
  color: #5e6a71;
  font-size: 18px;
  letter-spacing: 12px;
  padding-left: 12px; }

/* Image
--------------------------------------------- */
img {
  display: block;
  max-width: 100%;
  height: auto; }

figcaption {
  color: #5e6a71;
  text-align: left;
  font-size: 14px;
  font-style: italic; }

/* Tables
--------------------------------------------- */
.table,
.wp-block-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 25px; }
  .table th,
  .table td,
  .wp-block-table th,
  .wp-block-table td {
    padding: 16px;
    vertical-align: center;
    border-top: 1px solid #5e6a71; }
  .table thead th,
  .wp-block-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #5e6a71; }
  .table tbody + tbody,
  .wp-block-table tbody + tbody {
    border-top: 2px solid #5e6a71; }

body {
  font-family: "myriad-pro-semiextended", sans-serif;
  font-weight: 300;
  color: #000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  margin-bottom: 25px; }
  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: normal; } }

p {
  margin: 0 auto;
  margin-bottom: 25px; }
  p:last-child {
    margin-bottom: 0; }

p,
.body-1 {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem; }
  @media (min-width: 768px) {
    p,
    .body-1 {
      font-size: 20px;
      font-size: 1.25rem; } }
  @media (max-width: 768px) {
    p,
    .body-1 {
      line-height: 1.5625rem; } }

.body-2 {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.5625rem;
  letter-spacing: -0.01063rem; }

.body-3 {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 0.9375rem;
  letter-spacing: -0.00625rem; }

h1 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 2.625rem;
  letter-spacing: -0.02312rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 37px;
      font-size: 2.3125rem; } }
  @media (max-width: 768px) {
    h1 {
      line-height: 1.9375rem; } }

h2 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.9375rem;
  letter-spacing: -0.01562rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 25px;
      font-size: 1.5625rem; } }
  @media (max-width: 768px) {
    h2 {
      line-height: 1.5rem; } }

h3 {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  letter-spacing: -0.01375rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 22px;
      font-size: 1.375rem; } }

h4 {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.075rem; }
  @media (min-width: 768px) {
    h4 {
      font-size: 15px;
      font-size: 0.9375rem; } }
  @media (max-width: 768px) {
    h4 {
      line-height: 1.1875rem; } }

h5,
h6 {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.1875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06rem; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.italic {
  font-style: italic; }

.pc_button {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #002664;
  background: transparent;
  border: 1.5px solid #002664;
  padding: 8.5px 32px;
  margin-right: 2.6875rem;
  font-size: 1.0625rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.17px;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.155, 0.81, 0.26, 0.995); }
  .pc_button::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -1.5px;
    width: 2.75rem;
    height: calc(100% + 3px);
    right: -2.71875rem;
    background: url("../img/button_arrow_teal.svg") no-repeat center center/contain;
    background-size: 15px 12px;
    border: 1.5px solid #002664;
    transition: all 0.5s cubic-bezier(0.155, 0.81, 0.26, 0.995); }
  .pc_button:focus {
    color: white; }
  .pc_button:hover {
    background: #002664;
    border-color: #002664;
    color: white; }
    .pc_button:hover::after {
      border-color: #90d1e3;
      background: url("../img/button_arrow.svg") no-repeat center center/contain;
      background-color: #90d1e3;
      background-size: 15px 12px; }
  .pc_button__inline {
    background: transparent;
    border: none;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    padding: 0;
    margin-right: 1.5625rem; }
    .pc_button__inline::after {
      background: transparent;
      border: none;
      background: url("../img/button_arrow_teal.svg") no-repeat center center/contain;
      width: 0.9375rem;
      height: 0.75rem;
      top: 50%;
      right: -1.5625rem;
      transform: translateY(-50%);
      margin-top: 1px; }
    .pc_button__inline:hover {
      color: #90d1e3;
      background-color: transparent; }
      .pc_button__inline:hover::after {
        background-color: transparent;
        right: -30px;
        background: url("../img/button_arrow_teal.svg") no-repeat center center/contain;
        background-size: 15px 12px; }
  .pc_button__white {
    border-color: white; }
    .pc_button__white::after {
      border-color: white;
      background: url("../img/button_arrow.svg") no-repeat center center/contain;
      background-size: 15px 12px; }

.button-block {
  text-align: center; }
  .button-block .pc_button {
    margin: 0 auto; }

.video-modal {
  text-align: center; }
  .video-modal__link {
    display: block;
    max-width: 56.25rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
    .video-modal__link::before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 21.25rem;
      z-index: 4;
      pointer-events: none;
      background: linear-gradient(to top, #002664, rgba(0, 38, 100, 0)); }
    .video-modal__link::after {
      content: "";
      display: block;
      position: relative;
      padding-bottom: 31.25rem; }
      @media (min-width: 769px) {
        .video-modal__link::after {
          padding-bottom: 56.25%; } }
  .video-modal__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .video-modal__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.parallax-image {
  position: relative;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  pointer-events: none; }
  .parallax-image img {
    position: fixed;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    z-index: -1; }

.image-slider-wrap.is-admin:before {
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  position: absolute;
  z-index: 1; }

.image-slider {
  position: relative; }
  .image-slider__image {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
  .image-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center; }
  .image-slider .slick-slide {
    display: inline-block; }
  .image-slider .slick-track {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  .image-slider .slick-list {
    overflow: hidden; }
  .image-slider__caption {
    margin-top: 0.625rem !important; }
    @media (min-width: 768px) {
      .image-slider__caption {
        margin-top: 1.25rem !important; } }
  .image-slider .slick-arrow {
    position: absolute;
    top: 43.75%;
    transform: translateY(-50%);
    -webkit-appearance: none;
    height: 2.5625rem;
    width: 2.5625rem;
    background: #ff6700;
    border-radius: 50%;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 6; }
    @media (min-width: 768px) {
      .image-slider .slick-arrow {
        height: 4.0625rem;
        width: 4.0625rem; } }
    .image-slider .slick-arrow img {
      width: 0.9375rem;
      height: 0.75rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (min-width: 768px) {
        .image-slider .slick-arrow img {
          height: 1.125rem;
          width: 1.4375rem; } }
    .image-slider .slick-arrow.slick-prev {
      left: 0.625rem;
      right: auto; }
      @media (min-width: 768px) {
        .image-slider .slick-arrow.slick-prev {
          left: -0.4375rem; } }
    .image-slider .slick-arrow.slick-next {
      right: 0.625rem;
      left: auto; }
      @media (min-width: 768px) {
        .image-slider .slick-arrow.slick-next {
          right: -0.4375rem; } }

